# PostgreSQL
POSTGRES_USER=treenotes_user
POSTGRES_PASSWORD=changeme
POSTGRES_DB=treenotes_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@treenotes.com
PGADMIN_DEFAULT_PASSWORD=admin

# User Login
dev@treenotes.local
demo1234 